.git
.github
.phpunit.cache
coverage.xml
node_modules
resources/assets/v1/node_modules
resources/assets/v2/node_modules
storage/debugbar
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
